@import '../../common/colors.scss';

.footer {
    background-color: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $font-primary;
    padding: 20px;
    font-size: 20px;
}